/* Colors

Dark Blue: #101318
Purple: #3B0640
Red: #FF005B
Green: #01FD86
Blue: #05F0FF
Yellow: #EAFF00

..............

 */
div.container-fluid {
    height: 100vh;
    width: 100vw;
    background-color: #101318;
}
 .btn-rounded {
     background-color: #01FD86 !important;
     color: #011318 !important;
     font-weight: 600 !important;

     text-transform: initial;
 }
.btn-rounded:hover {
    background-color: #28A745;
}

 p.h4 {
     color: #FF005B !important;
 }