/* Colors

Dark Blue: #101318
Purple: #3B0640
Red: #FF005B
Green: #01FD86
Blue: #05F0FF
Yellow: #EAFF00

..............

 */

 div.nav {
     width: 100%;
     height: fit-content;
     background-color: #101318;
     /* box-shadow: 0 .125rem .25rem #ff00596e!important; */
 }
 div.nav img {
     width: 120px;
 }
 .navbar-link {
     color: #01FD86 !important;
 }