/* Colors

Dark Blue: #101318
Purple: #3B0640
Red: #FF005B
Green: #01FD86
Blue: #05F0FF
Yellow: #EAFF00

..............

 */

 table thead.thead-light th {
     color: #FFFFFF !important;
     /* color: #FFFFFF; */
     background-color: #FF005B  !important;
     font-weight: 600 !important;
 }
 table {
     width: -webkit-fill-available;
     font-size: 1rem;
     font-weight: 500;
 }

 table td span img {
     width: 4%;
     height: 4%;
 }
 

 .sticky {
    top: 0;
    position: fixed;
    width: 100%;
    margin-top: 49.922px;
}

.sticky + .pages-nav {
    padding-top: 50px;
}