<div class="table-responsive text-nowrap"> 
  <table class="table table-hover">
    <div class="header">
      <span class="lit" id="pos">Pos</span>
      <span class="lit" id="c">Club</span>
      <span class="lit" id="p">P</span>
      <span class="lit" id="w">W</span>
      <span class="lit" id="d">D</span>
      <span class="lit" id="l">L</span>
      <span class="lit" id="gf">GF</span>
      <span class="lit" id="ga">GA</span>
      <span class="lit" id="gd">GD</span>
      <span class="lit" id="pts">Pts</span>
    </div>
    <tbody>
      <tr *ngFor="let club of table;index as i"  [class.table-success]="i+1 == '1'" [class.table-secondary]="i+1 > 1 && i+1 < 5" [class.table-danger]="i+1 >= 18">
        <th scope="row" class="py-2">
          {{i+1}}
        </th>
        <td class="py-2">
          <span class="mx-2"><img src="../../../assets/img/clubs/{{club.teamid}}.png"></span>{{club.name}}
        </td>
        <td class="py-2">
          {{club.played}}
        </td>
        <td class="py-2">
          {{club.win}}
        </td>
        <td class="py-2">
          {{club.draw}}
        </td>
        <td class="py-2">
          {{club.loss}}
        </td>
        <td class="py-2">
          {{club.goalsfor}}
        </td>
        <td class="py-2">
          {{club.goalsagainst}}
        </td>
        <td class="py-2">
          {{club.goalsdifference}}
        </td>
        <td class="py-2">
            {{club.total}}
          </td>
      </tr>
    </tbody>
  </table>
</div>
