/* Colors

Dark Blue: #101318
Purple: #3B0640
Red: #FF005B
Green: #01FD86
Blue: #05F0FF
Yellow: #EAFF00

..............

 */

h6.text-muted {
    color: #3B0640 !important;
}

div.fixture span img {
     width: 7%;
     height: 7%;
 } 
span.fixture-img img {
    width: 23px;
    height: 23px;
}
 table tr td span img {
     width: auto;
     height: 3.4%;
 }
 table tr {
     border-bottom-left-radius: .125rem;
     border-bottom-right-radius: .125rem;
     border: 1px solid rgba(0,0,0,.125);
     margin-bottom: 0px;
     padding: .45rem .75rem;
 }
 table tr td.club {
    text-align: left;
    font-weight: 600;
}
table tr td {
    padding: .25rem !important;
}
table thead tr th.club {
  text-align: left;
}
table thead {
    color: #ffffff !important;
    background-color: #3B0640 !important;
}
div.positions table {
    width: 100%;
    width: -webkit-fill-available;
}

div.positions table:hover {
    border-color: #FF005B;
    /* font-weight: bold; */
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.positions {
    margin-top: 2rem;
}

 .fixture {
     font-weight: 600;
 }

 .match-time {
     width: -webkit-fill-available;
     width: 100%;
 }

 span.rounded-0 {
     display: inline-block;
     font-size: 75%;
     text-align: center;
     padding: .25em .4em;
     color: #FFFFFF;
     background-color: #FF005B;
 }
 span.rounded-0-hover {
    display: inline-block;
    font-size: 75%;
    text-align: center;
    padding: .25em .4em;
    color: #FF005B;
    background-color: #FFFFFF;
    font-weight: bold;
}

 @media screen and (min-width: 768px){
  .match-time {
      min-width: 400px;
  }   
  ul.fixtures-list-group li.list-group-item {
      cursor: pointer;
      transition: all .2s;
      font-weight: 600;
  }
 ul.fixtures-list-group li.list-group-item:hover {
   border-color: #FF005B;
   /* font-weight: bold; */
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
 }

div.collapse.container .row .card {
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 30%;
    background-position: 100% 0%;
    position: relative;
}

.spinner h1 {
    color: #05F0FF;
}

/* Background image for collapsible content columns */
div.collapsible-row div.col-4.home {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    /* background-color: #05F0FF; */
}

div.collapsible-row div.col-4.away {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    /* background-color: #05F0FF; */
}

.recent-matches {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.recent-matches p {
    margin-bottom: 0;
}